<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Edit List"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="submitForm()"
  nzOkText="submit"
  nzCancelText="Cancel"
  [nzOkLoading]="isOkLoading"
>
  <div *nzModalContent>
    <form nz-form [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="5" nzRequired nzFor="list">Your List</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="Please input your list name!">
          <input id="note" type="text" nz-input formControlName="listName" placeholder="name" [(ngModel)]="editList.name"/>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</nz-modal>
