<nz-content>
  <nz-page-header
    class="site-page-header"
    (nzBack)="onBack()"
    nzBackIcon
    nzTitle="List"
  >
    <nz-page-header-extra>
      <div class="send-request">
        <button nz-button nzType="primary" (click)="onShowAddModal()">Add</button>
        <app-list-add [currentUser]="currentUser" [isVisible]="addIsVisible" (invisible)="onCloseAddModel()"></app-list-add>
        <button
          nz-button
          nzType="danger"
          [disabled]="!toggleSome"
          (click)="onClearDone()"
          [nzLoading]="isClearDoneLoading"
        >
          Clear Finished Items
        </button>
        <span>Finished items: {{ selectListCount }}</span>
      </div>
    </nz-page-header-extra>
  </nz-page-header>
  <div class="inner-content">
    <nz-spin *ngIf="isLoading" nzTip="Loading..."></nz-spin>
    <nz-table
      *ngIf="!isLoading"
      #listsData
      [nzData]="lists"
    >
      <thead>
      <tr>
        <th [hidden]="lists.length == 0" [nzChecked]=toggleAll [nzIndeterminate]="toggleSome && !toggleAll" (nzCheckedChange)="onAllChecked($event)"></th>
        <th nzWidth="80%">Name</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let list of listsData.data; let i = index">
        <td
          [nzChecked]="list.done"
          (nzCheckedChange)="onItemChecked(list,i)"
        ></td>
        <td>
          <div class="editable-cell" [hidden]="editId === list.id && !list.done" (click)="startEdit(list.id)">
            <span nz-typography><del *ngIf="list.done;else unfinished">{{ list.name }}</del></span>
            <ng-template #unfinished>
              {{ list.name }}
            </ng-template>
          </div>
          <input
            [hidden]="editId !== list.id || list.done"
            type="text"
            nz-input
            [value]="list.name"
            (blur)="stopEdit(list,i)"
            #inputElement
          />
        </td>
        <td>
          <nz-space [nzSize]="'small'">
            <a *nzSpaceItem  [hidden]="list.done" nz-button nzType="link" (click)="onShowEditModal(list,i)">edit</a>
            <a *nzSpaceItem  nz-button nzType="link" [nzLoading]="removeId === list.id &&isRemoveLoading" (click)="onRemoveList(list.id,i)">remove</a>
            <a *nzSpaceItem  nz-button nzType="link" (click)="msg.info('more')">more</a>
          </nz-space>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</nz-content>
<nz-modal
  [(nzVisible)]="isMouseOut"
  nzTitle="Confirm"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading"
>
  <ng-container *nzModalContent>
    <h3>You still have unsaved data, are you sure you want to modify it?</h3>
  </ng-container>
</nz-modal>
<app-list-edit [currentUser]="currentUser" [editListIndex]="listIndex" [editList]="listItem" [isVisible]="editIsVisible" (invisible)="onCloseEditModel()"></app-list-edit>
