<nz-content>
  <nz-page-header
    class="site-page-header"
    (nzBack)="onBack()"
    nzBackIcon
    nzTitle="Task"
  >
    <nz-breadcrumb nz-page-header-breadcrumb>
      <nz-breadcrumb-item>
        <a>Host</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a>List</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a>Task</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
    <nz-page-header-extra>
      <div class="send-request">
        <button nz-button nzType="primary" (click)="onShowAddModal()">Add</button>
        <app-list-add [isVisible]="addIsVisible" (invisible)="onCloseAddModel()"></app-list-add>
        <button
          nz-button
          nzType="danger"
          [disabled]="!toggleSome"
          (click)="onClearDone()"
        >
          Clear Finished Items
        </button>
        <span>Finished items: {{ selectListCount }}</span>
      </div>
    </nz-page-header-extra>
  </nz-page-header>
  <div class="inner-content">
    <nz-table
      [nzData]="lists"
      #rowSelectionTable
      nzShowSizeChanger
    >
      <thead>
      <tr>
        <th [hidden]="lists.length == 0" [nzChecked]=toggleAll [nzIndeterminate]="toggleSome && !toggleAll" (nzCheckedChange)="onAllChecked($event)"></th>
        <th nzWidth="80%">Name</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let list of lists; let i = index">
        <td
          [nzChecked]="list.done"
          (nzCheckedChange)="onItemChecked(i)"
        ></td>
        <td>
          <div class="editable-cell" [hidden]="editId === list.id && !list.done" (click)="startEdit(list.id)">
            {{ list.name }}
          </div>
          <input [hidden]="editId !== list.id || list.done" type="text" nz-input [(ngModel)]="list.name" (blur)="stopEdit()" />
        </td>
        <td>
          <nz-space [nzSize]="'small'">
            <a *nzSpaceItem  [hidden]="list.done" nz-button nzType="link" (click)="onShowEditModal(list,i)">edit</a>
            <a *nzSpaceItem  nz-button nzType="link" (click)="onRemoveList(i)">remove</a>
            <a *nzSpaceItem  nz-button nzType="link" (click)="msg.info('more')">more</a>
          </nz-space>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</nz-content>
<app-list-edit [editListIndex]="listIndex" [editList]="listItem" [isVisible]="editIsVisible" (invisible)="onCloseEditModel()"></app-list-edit>
