<form
  *ngIf="!isLogin"
  nz-form [nzLayout]="'inline'"
  [formGroup]="validateForm"
  (ngSubmit)="submitForm()"
>
  <nz-form-item>
    <nz-form-control
      [nzErrorTip]="usernameErrorTpl"
      nzValidatingTip="Verifying username for compliance..."
    >
      <nz-input-group nzPrefixIcon="user">
        <input
          formControlName="username"
          nz-input placeholder="Username"
          autocomplete="username"
        />
        <ng-template #usernameErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">Please input your username!</ng-container>
          <ng-container *ngIf="control.hasError('regMatch')">Please enter 4-6 characters, not Chinese!</ng-container>
        </ng-template>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control
      [nzErrorTip]="passwordErrorTpl"
      nzValidatingTip="Verifying Password for compliance..."
    >
      <nz-input-group nzPrefixIcon="lock">
          <input
            formControlName="password"
            nz-input
            type="password"
            placeholder="Password"
            autocomplete="off"
          />
          <ng-template #passwordErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">Please input your password!</ng-container>
            <ng-container *ngIf="control.hasError('regMatch')">Please enter at least 8 characters,at least 1 letter,1 number and 1 special character!</ng-container>
          </ng-template>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-space [nzSize]="'small'">
        <button
          *nzSpaceItem
          nz-button
          nzType="primary"
          [disabled]="!validateForm.valid"
          [nzLoading]="isLoading"
        >{{ !isLoginMode? 'Sign Up': 'Log in' }}</button>
        <a *nzSpaceItem  nz-button nzType="link" (click)="onSwitch()">Switch to {{ isLoginMode? 'Sign Up': 'Log in' }}</a>
      </nz-space>
    </nz-form-control>
  </nz-form-item>
</form>
